<header th:fragment="header" class="main-header">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <div class="header-content">
    <h1>EchoReview</h1>
    <nav class="main-nav">
      <a href="/"><i class="bi bi-house-fill"></i> Home</a>
      <a href="#"><i class="bi bi-search"></i> Explore</a>
      <a href="#"><i class="bi bi-star-fill"></i> Top Albums</a>
      <a href="/login"><i class="bi bi-person-fill"></i> Login</a>
    </nav>
  </div>
</header>
