/* CSS Unificado y Optimizado */

/* Estilo General */
body {
  background-color: #1e1e1e;
  color: white;
}

header {
  background: #333;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

.card {
  background-color: #333;
  color: white;
}

.card a {
  color: white !important;
  text-decoration: none;
}

/* Botones */
#viewToggle, .btn-info {
  background-color: #1db954;
  border-color: #1db954;
  font-weight: bold;
  color: white !important;
}

#viewToggle:hover {
  background-color: #236b4e;
}

.btn-primary {
  background-color: #1a5f42 !important;
  border-color: #1a5f42 !important;
  font-weight: bold;
  color: white !important;
}

/* Botón Animado Edit */
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  position: relative;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: rgb(69, 123, 255);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Edit";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(35px);
}

/* Input Personalizado */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #f3f3f4;
  color: #0d0c22;
}

.input:focus, .input:hover {
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
